async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
pyrogram
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp
motor
aiohttp
aiofiles
pytz
umongo
speedtest-cli
psutil
py-tgcalls==0.6.0
ffmpeg
beautifulsoup4==4.9.3
bs4==0.0.1
mediainfo
cloudscraper
helper
yt-dlp==2021.7.24
